.bp-options-button {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 5px 15px 5px 25px;
  width: 100%;
  color: #777;
  text-align: left;

  @media (min-width: 768px) {
    padding: 3px 20px;
    color: #333;
  }

  &:hover {
    color: #262626;

    @media (min-width: 768px) {
      background-color: #f5f5f5;
    }
  }
}

.bp-mobile-messages {
  float: right;
  margin-right: 20px;
  padding: 15px 0;
}

body.bp-mobile-post-layout {
  @media (max-width: 768px) {
    *:not([data-endless^="/users/"]) > .post {
      > .avatar {
        float: none !important;
        margin-bottom: 0;
      }

      > .body {
        margin-top: -50px;

        > a[href^="/users"] {
          display: block;
          margin-bottom: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}

body.bp-mobile-comment-layout {
  @media (max-width: 768px) {
    .comment {
      > .avatar {
        float: none !important;
        margin-bottom: 0;
      }

      > .body {
        margin-top: -50px;

        &.text-muted {
          margin-top: -55px;
          padding-left: 64px;
        }

        > a[href^="/users"] {
          display: block;
          margin-bottom: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}

.navbar .navbar-header .navbar-toggle .badge {
  position: absolute;
  top: unset;
  right: -0.5em;
  bottom: -0.25em;
  border-radius: 4px;
  background-color: #d9534f;
  padding: 2px 4px;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bp-list-hltb-info {
  @media (max-width: 700px) {
    margin-top: 4px;
    margin-left: 10px;
  }
  @media (min-width: 700px) {
    display: table-cell;
    width: 20%;
    text-align: right;
  }
}

.game-media .bp-hltb-logo {
  margin-left: 4px;
  height: 16px;
}
