.bp-options-button {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 5px 15px 5px 25px;
  width: 100%;
  color: #777;
  text-align: left;

  @media (min-width: 768px) {
    padding: 3px 20px;
    color: #333;
  }

  &:hover {
    color: #262626;

    @media (min-width: 768px) {
      background-color: #f5f5f5;
    }
  }
}

.bp-mobile-messages {
  float: right;
  margin-right: 20px;
  padding: 15px 0;
}

body.bp-mobile-post-layout {
  @media (max-width: 768px) {
    *:not([data-endless^="/users/"]) > .post:not(.blocked) {
      > .avatar {
        float: none !important;
        margin-bottom: 0;
      }

      > .body {
        margin-top: -50px;

        > a[href^="/users"] {
          display: block;
          margin-bottom: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}

body.bp-mobile-comment-layout {
  @media (max-width: 768px) {
    .comment {
      > .avatar {
        float: none !important;
        margin-bottom: 0;
      }

      > .body {
        margin-top: -50px;

        &.text-muted {
          margin-top: -55px;
          padding-left: 64px;
        }

        > a[href^="/users"] {
          display: block;
          margin-bottom: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}

.navbar .navbar-header .navbar-toggle .badge {
  position: absolute;
  top: unset;
  right: -0.5em;
  bottom: -0.25em;
  border-radius: 4px;
  background-color: #d9534f;
  padding: 2px 4px;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bp-list-hltb-info {
  @media (max-width: 700px) {
    flex-grow: 1;
    margin-top: 4px;
    margin-left: 10px;
    width: 40%;
  }
  @media (min-width: 700px) {
    display: table-cell;
    width: 140px;
    text-align: right;
  }
}

.bp-hltb-one-column {
  display: flex;

  &-label {
    margin-right: auto;
  }
}

.game-media .bp-hltb-logo {
  margin-left: 4px;
  height: 16px;
}

.bp-protondb-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  min-width: 100px;
  height: 20px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #000;
  }

  &-unknown {
    text-transform: unset;
  }

  &-borked {
    background-color: #ff0000;
  }

  &-bronze {
    background-color: #cd7f32;
  }

  &-silver {
    background-color: #a6a6a6;
  }

  &-gold {
    background-color: #cfb53b;
  }

  &-platinum {
    background-color: #b4c7dc;
  }

  &-no-data {
    background-color: #444444;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  svg {
    margin-right: 4px;
  }
}

.bp-linux-media {
  display: table-cell;
  width: 50%;
  text-align: right;
  margin-top: 8px;

  @media (min-width: 700px) {
    width: 100px;
    margin-top: 0;

    .bp-deckverified-element {
      margin-top: 4px;
    }
  }
}

.game-media {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    flex-wrap: nowrap;
  }
}

.media-body {
  flex-grow: 1;
  width: 100%;

  @media (min-width: 400px) {
    width: 45%;
  }
}

.reply .post.blocked {
  margin-bottom: 0;
}

.post.blocked {
  display: none;
  &.collapsed {
    display: block;
    min-height: 70px;

    + .post,
    + .comment {
      display: none;
    }
  }

  .avatar > svg {
    width: 38px;
    padding: 10px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}

.bp-game-list {
  .game-thumbnail .caption {
    min-height: 58px;
    height: auto;
  }
}

.bp-linux-grid {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
}

.bp-dropdown-container {
  display: inline-block;
}
